@import url('http://fonts.googleapis.com/css?family=Montserrat:600&subset=latin,latin-ext');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: #54758c;
}

img {
  border-radius: 25px;
}
a {
  text-decoration: 'none';
}

button {
  font-family: Montserrat, sans-serif;
  /* color: #54758c; */
}

abbr {
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  /* color: #54758c; */
}
